[submodule "RestKit"]
	path = RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "nimbus"]
	path = nimbus
	url = https://github.com/jverkoey/nimbus.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "uidevice-extension"]
	path = uidevice-extension
	url = https://github.com/erica/uidevice-extension
[submodule "UIDevice-with-UniqueIdentifier-for-iOS-5"]
	path = UIDevice-with-UniqueIdentifier-for-iOS-5
	url = https://github.com/gekitz/UIDevice-with-UniqueIdentifier-for-iOS-5.git
[submodule "InAppSettingsKit"]
	path = InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
